<!DOCTYPE html>
<html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/join.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="/js/join.js"></script>
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script>function handleCredentialResponse(response) {
          // Build Firebase credential with the Google ID token.
          const idToken = response.credential;
          const credential = GoogleAuthProvider.credential(idToken);
        
          // Sign in with credential from the Google user.
          signInWithCredential(auth, credential).catch((error) => {
            // Handle Errors here.
            const errorCode = error.code;
            const errorMessage = error.message;
            // The email of the user's account used.
            const email = error.email;
            // The credential that was used.
            const credential = GoogleAuthProvider.credentialFromError(error);
            // ...
          });
        }</script>
    </head>
    <body>
      <header>
        <div id="header__mobileAd">
            <span>
                <strong>해야짐</strong>이 처음이신가요? 지금 바로 체험해보세요!
            </span>
            <a href="">
                <i class="fa-solid fa-mobile-screen"></i>
                <span>앱 다운로드</span>
            </a>
        </div>
        <div id="header__main">
            <a href="/"><img src="/logo/logo.png" id="header__logo"></a>
            <nav>
                <a href="/auth/sign_in">로그인</a>
                <a href="/auth/sign_up">회원가입</a>
            </nav>
        </div>
    </header>
      <div class="container">
        <!-- Heading -->
        
        <!-- Links -->
        <ul class="links">
          <li>
            <a href="#" id="signin">로그인</a>
          </li>
        </ul>
        
        <!-- Form -->
        <form  action="/auth/sign_in_process" method="post">
          <!-- email input -->
          <div class="first-input input__block first-input__block">
             <input type="email" placeholder="Email" class="input" name="email"   />
          </div>
          <!-- password input -->
          <div class="input__block">
             <input type="password" placeholder="Password" class="input" name="pw"    />
          </div>
          <!-- sign in button -->
          <input type="submit" class="signin__btn" value="Sign in">
        </form>
          <!-- sign in button with google-->
          
         
        </form>
        <!-- separator -->
        <div class="separator">
          <p>OR</p>
        </div>
        <!-- google button -->
        <button class="sign_up__btn">
          <a href="/auth/sign_up">Sign Up</a>
        </button>
      </div>
      
      <footer>
        <div>
            <nav id="footer__nav">
                <a href="">ⓒHaeuagym.co.kr</a>
                <a href="">이용약관</a>
                <a href="">운영정책</a>
                <a href="">개인정보처리방침</a>
                <a href="">환불규정</a>
            </nav>
            <div id="footer__info">
                <strong>(주)해야짐</strong><br> 
                <span>대표 이혁주 | 8221 서울시 구로구 경인로 445 ([구]고척동 62-160) 동양미래대학교</span><br>
                <span>(주)해야짐은 통신판매중개자이며 통신판매의 당사자가 아닙니다. 따라서 (주)해야짐은 상품, 거래정보 및 거래에 대하여 책임을 지지 않습니다.</span>
            </div>  
            <div id="footer__contact">
                <p>고객센터</p>
                <div id="footer__contact__kakao">
                    <img src="img/kakaotalk_sharing_btn_medium.png" >
                    <span>카카오톡 상담</span>
                </div>
                <span>평일 09:00 ~ 18:00(점심시간 13:00 ~ 14:00)</span>
                <span>주말 및 공휴일은 쉽니다..</span>
            </div>
        </div>
    </footer>
    </body>
</html>